body {
    background-color: #A2A2A1FF;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

button {
    background-color: #F1F4FFFF;
    margin: 3px;
    border-radius: 4px;
}

button:hover {
    box-shadow: 1px 1px 5px 1px darkgray;
}

input[type="color"]:hover {
    box-shadow: 1px 1px 3px 1px darkgray;
}

#main {
    display: flex;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 31.25px);
    grid-template-rows: repeat(16, 31.25px);
    height: 500px;
    width: 500px;
    background-color: brown;
    border: 2px solid black;
}

.square {
    background-color: white;
    border: 1px solid black;
}
